@import '/styles/core.scss';
@import '/styles/mixins';

.block {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: toRem(20) 0;

  li {
    &:not(:last-child) {
      margin-right: toRem(20);
    }

    svg {
      width: toRem(16);
      height: toRem(16);
      opacity: 0.5;
      transition: all .3s ease;
    }

    a:hover {
      svg {
        fill: $primary;
        transform: scale(1.1);
        opacity: 1;
      }
    }
  }
}